<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container text-center">
    <h1>Book Trading Club</h1>
    <p>This is a place where every book lover can share and trade their own books with others.</p>
    <p><i class="fa fa-book fa-4x"></i></p>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <h2>All Books</h2>
    <p>You can view the list of all available books there.</p>
    <p><a class="btn btn-primary" href="/all-books" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>My Books</h2>
    <p>In this section you can add books, view your current books and/or view your requests</p>
    <p><a class="btn btn-success" href="/my-books" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-md-4">
    <h2>Profile</h2>
    <p>Change your info here if you want ;)</p>
    <p><a class="btn btn-info" href="/profile" role="button">View details &raquo;</a></p>
  </div>
</div>



